$body-color : #fff;
$navbar-bg : rgb(223, 215, 215);
$primary-color : #E74C3C;
$text-color: #262626;
$text-white : #fff;
$heading-color : rgba(218, 171, 171, 0.24);
$my-font: 'Roboto', sans-serif;
